--
-- PostgreSQL database dump
--

\restrict CLG25h52WhbU4zesWAd4ymckmXGJZFtU27gWd4vR9GICCLkMNDvBxM6sbe2e1j9

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AttendanceStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AttendanceStatus" AS ENUM (
    'present',
    'absent',
    'late',
    'excused'
);


ALTER TYPE public."AttendanceStatus" OWNER TO postgres;

--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'draft',
    'issued',
    'partial',
    'paid',
    'overdue',
    'cancelled'
);


ALTER TYPE public."InvoiceStatus" OWNER TO postgres;

--
-- Name: POSOrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."POSOrderStatus" AS ENUM (
    'completed',
    'refunded'
);


ALTER TYPE public."POSOrderStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'card',
    'bank_transfer',
    'cliq',
    'efawateercom',
    'cash',
    'wallet'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: TripDirection; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TripDirection" AS ENUM (
    'pickup',
    'dropoff'
);


ALTER TYPE public."TripDirection" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'parent',
    'teacher',
    'school_admin',
    'finance',
    'canteen_staff',
    'super_admin',
    'bus_supervisor'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: WalletTxnType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WalletTxnType" AS ENUM (
    'topup',
    'purchase',
    'refund',
    'adjustment'
);


ALTER TYPE public."WalletTxnType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AcademicYear; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AcademicYear" (
    id text NOT NULL,
    name text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "schoolId" text NOT NULL
);


ALTER TABLE public."AcademicYear" OWNER TO postgres;

--
-- Name: Attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Attendance" (
    id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "studentId" text NOT NULL,
    status public."AttendanceStatus" NOT NULL,
    reason text
);


ALTER TABLE public."Attendance" OWNER TO postgres;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text,
    "userEmail" text NOT NULL,
    "actionType" text NOT NULL,
    details jsonb,
    "schoolId" text
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: BusTrip; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BusTrip" (
    id text NOT NULL,
    "schoolId" text NOT NULL,
    "supervisorId" text,
    date timestamp(3) without time zone NOT NULL,
    direction public."TripDirection" NOT NULL,
    "routeName" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BusTrip" OWNER TO postgres;

--
-- Name: BusTripEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BusTripEntry" (
    id text NOT NULL,
    "busTripId" text NOT NULL,
    "studentId" text NOT NULL,
    "boardedAt" timestamp(3) without time zone,
    status text NOT NULL
);


ALTER TABLE public."BusTripEntry" OWNER TO postgres;

--
-- Name: CanteenItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CanteenItem" (
    id text NOT NULL,
    name text NOT NULL,
    price numeric(12,2) NOT NULL,
    "schoolId" text NOT NULL,
    category text NOT NULL,
    "isAvailable" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."CanteenItem" OWNER TO postgres;

--
-- Name: Class; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Class" (
    id text NOT NULL,
    name text NOT NULL,
    "academicYearId" text NOT NULL
);


ALTER TABLE public."Class" OWNER TO postgres;

--
-- Name: DeviceToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DeviceToken" (
    id text NOT NULL,
    token text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DeviceToken" OWNER TO postgres;

--
-- Name: FeeItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FeeItem" (
    id text NOT NULL,
    description text NOT NULL,
    amount numeric(12,2) NOT NULL,
    "feeStructureId" text NOT NULL
);


ALTER TABLE public."FeeItem" OWNER TO postgres;

--
-- Name: FeeStructure; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FeeStructure" (
    id text NOT NULL,
    name text NOT NULL,
    "totalAmount" numeric(12,2) NOT NULL,
    "academicYearId" text NOT NULL
);


ALTER TABLE public."FeeStructure" OWNER TO postgres;

--
-- Name: Grade; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Grade" (
    id text NOT NULL,
    "studentId" text NOT NULL,
    comments text,
    grade numeric(5,2) NOT NULL,
    "homeworkId" text NOT NULL
);


ALTER TABLE public."Grade" OWNER TO postgres;

--
-- Name: Homework; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Homework" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "classId" text NOT NULL,
    "subjectId" text NOT NULL
);


ALTER TABLE public."Homework" OWNER TO postgres;

--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Invoice" (
    id text NOT NULL,
    "studentId" text NOT NULL,
    "issueDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "totalAmount" numeric(12,2) NOT NULL,
    "amountPaid" numeric(12,2) DEFAULT 0.0 NOT NULL,
    status public."InvoiceStatus" DEFAULT 'draft'::public."InvoiceStatus" NOT NULL,
    "feeStructureId" text NOT NULL
);


ALTER TABLE public."Invoice" OWNER TO postgres;

--
-- Name: NotificationPreference; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."NotificationPreference" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "receivePush" boolean DEFAULT true NOT NULL,
    "receiveEmail" boolean DEFAULT true NOT NULL,
    "busUpdates" boolean DEFAULT true NOT NULL,
    "newGrade" boolean DEFAULT true NOT NULL,
    "newHomework" boolean DEFAULT true NOT NULL,
    "schoolAnnouncements" boolean DEFAULT true NOT NULL,
    "lowBalanceWarning" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."NotificationPreference" OWNER TO postgres;

--
-- Name: POSOrder; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."POSOrder" (
    id text NOT NULL,
    "schoolId" text NOT NULL,
    "studentId" text NOT NULL,
    total numeric(12,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "paidByWallet" boolean DEFAULT true NOT NULL,
    "walletTxnId" text,
    status public."POSOrderStatus" DEFAULT 'completed'::public."POSOrderStatus" NOT NULL
);


ALTER TABLE public."POSOrder" OWNER TO postgres;

--
-- Name: POSOrderItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."POSOrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    "unitPrice" numeric(12,2) NOT NULL,
    "itemId" text NOT NULL,
    "lineTotal" numeric(12,2) NOT NULL
);


ALTER TABLE public."POSOrderItem" OWNER TO postgres;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "invoiceId" text NOT NULL,
    amount numeric(12,2) NOT NULL,
    method public."PaymentMethod" NOT NULL,
    "paymentDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "transactionId" text,
    "walletTxnId" text
);


ALTER TABLE public."Payment" OWNER TO postgres;

--
-- Name: School; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."School" (
    id text NOT NULL,
    name text NOT NULL,
    address text,
    subscription_status text DEFAULT 'active'::text NOT NULL,
    subscription_end_date timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."School" OWNER TO postgres;

--
-- Name: Student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Student" (
    id text NOT NULL,
    "fullName" text NOT NULL,
    date_of_birth timestamp(3) without time zone,
    nfc_card_id text,
    wallet_balance numeric(12,2) DEFAULT 0.0 NOT NULL,
    "schoolId" text NOT NULL,
    "parentId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    daily_spending_limit numeric(12,2),
    is_nfc_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Student" OWNER TO postgres;

--
-- Name: StudentEnrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StudentEnrollment" (
    id text NOT NULL,
    "studentId" text NOT NULL,
    "classId" text NOT NULL,
    "academicYearId" text NOT NULL
);


ALTER TABLE public."StudentEnrollment" OWNER TO postgres;

--
-- Name: Subject; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subject" (
    id text NOT NULL,
    name text NOT NULL,
    "schoolId" text NOT NULL
);


ALTER TABLE public."Subject" OWNER TO postgres;

--
-- Name: TeacherSubjectAssignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TeacherSubjectAssignment" (
    id text NOT NULL,
    "teacherId" text NOT NULL,
    "subjectId" text NOT NULL,
    "classId" text NOT NULL
);


ALTER TABLE public."TeacherSubjectAssignment" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "fullName" text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "schoolId" text,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    role public."UserRole" NOT NULL,
    "passwordResetExpires" timestamp(3) without time zone,
    "passwordResetToken" text,
    "phoneNumber" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: WalletTransaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WalletTransaction" (
    id text NOT NULL,
    "schoolId" text NOT NULL,
    "studentId" text NOT NULL,
    "paymentId" text,
    type public."WalletTxnType" NOT NULL,
    amount numeric(12,2) NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."WalletTransaction" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: AcademicYear; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AcademicYear" (id, name, "startDate", "endDate", "isActive", "schoolId") FROM stdin;
1a473ba9-3dcd-48de-b5af-358e14836ae7	2025-2026	2025-09-01 00:00:00	2026-06-30 00:00:00	t	5faf4435-3c5d-44c2-8aa4-f54f13fc04c6
\.


--
-- Data for Name: Attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Attendance" (id, date, "studentId", status, reason) FROM stdin;
ad16d18c-bcda-454d-b274-c95100b8864a	2025-09-26 10:40:14.66	c4502b23-1683-4780-abf7-2b1fe3173c0c	present	\N
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AuditLog" (id, "timestamp", "userId", "userEmail", "actionType", details, "schoolId") FROM stdin;
\.


--
-- Data for Name: BusTrip; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BusTrip" (id, "schoolId", "supervisorId", date, direction, "routeName", "createdAt") FROM stdin;
\.


--
-- Data for Name: BusTripEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BusTripEntry" (id, "busTripId", "studentId", "boardedAt", status) FROM stdin;
\.


--
-- Data for Name: CanteenItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CanteenItem" (id, name, price, "schoolId", category, "isAvailable") FROM stdin;
cfa00155-d440-40c1-865d-2b30cdb4814c	Chicken Sandwich	1.50	5faf4435-3c5d-44c2-8aa4-f54f13fc04c6	Food	t
2445a03d-5f7f-4d12-bca8-35c664cc5dec	Orange Juice	0.50	5faf4435-3c5d-44c2-8aa4-f54f13fc04c6	Drinks	t
\.


--
-- Data for Name: Class; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Class" (id, name, "academicYearId") FROM stdin;
b0e270c2-752f-48ca-81bd-17dadfad95da	Grade 10 - A	1a473ba9-3dcd-48de-b5af-358e14836ae7
\.


--
-- Data for Name: DeviceToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DeviceToken" (id, token, "userId", "createdAt") FROM stdin;
\.


--
-- Data for Name: FeeItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."FeeItem" (id, description, amount, "feeStructureId") FROM stdin;
\.


--
-- Data for Name: FeeStructure; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."FeeStructure" (id, name, "totalAmount", "academicYearId") FROM stdin;
\.


--
-- Data for Name: Grade; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Grade" (id, "studentId", comments, grade, "homeworkId") FROM stdin;
6bfce242-0f28-4eb0-af83-f8af92589ee1	c4502b23-1683-4780-abf7-2b1fe3173c0c	Good work	88.00	3179e4ae-935d-49d1-ab75-75268855163d
\.


--
-- Data for Name: Homework; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Homework" (id, title, description, "dueDate", "classId", "subjectId") FROM stdin;
3179e4ae-935d-49d1-ab75-75268855163d	Math Homework Chapter 1	Solve exercises 1 to 10.	2025-09-15 00:00:00	b0e270c2-752f-48ca-81bd-17dadfad95da	01ad957c-7198-4167-9e68-b8c673441b6f
\.


--
-- Data for Name: Invoice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Invoice" (id, "studentId", "issueDate", "dueDate", "totalAmount", "amountPaid", status, "feeStructureId") FROM stdin;
\.


--
-- Data for Name: NotificationPreference; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."NotificationPreference" (id, "userId", "receivePush", "receiveEmail", "busUpdates", "newGrade", "newHomework", "schoolAnnouncements", "lowBalanceWarning") FROM stdin;
\.


--
-- Data for Name: POSOrder; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."POSOrder" (id, "schoolId", "studentId", total, "createdAt", "paidByWallet", "walletTxnId", status) FROM stdin;
d9350b66-0107-48d5-97ac-87b19616f9ad	5faf4435-3c5d-44c2-8aa4-f54f13fc04c6	c4502b23-1683-4780-abf7-2b1fe3173c0c	1.50	2025-09-26 10:40:20.688	t	ce8b6fa6-c6d0-4cda-9702-4969da2c710d	completed
\.


--
-- Data for Name: POSOrderItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."POSOrderItem" (id, "orderId", quantity, "unitPrice", "itemId", "lineTotal") FROM stdin;
9255a371-be2b-4384-9441-1864e467416b	d9350b66-0107-48d5-97ac-87b19616f9ad	1	1.50	cfa00155-d440-40c1-865d-2b30cdb4814c	1.50
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Payment" (id, "invoiceId", amount, method, "paymentDate", "transactionId", "walletTxnId") FROM stdin;
\.


--
-- Data for Name: School; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."School" (id, name, address, subscription_status, subscription_end_date, "createdAt", "updatedAt") FROM stdin;
5faf4435-3c5d-44c2-8aa4-f54f13fc04c6	Al-Mustaqbal International School	Amman, Jordan	active	\N	2025-09-26 10:40:05.647	2025-09-26 10:40:05.647
\.


--
-- Data for Name: Student; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Student" (id, "fullName", date_of_birth, nfc_card_id, wallet_balance, "schoolId", "parentId", "createdAt", "updatedAt", daily_spending_limit, is_nfc_active) FROM stdin;
c4502b23-1683-4780-abf7-2b1fe3173c0c	Omar Haddad	2010-05-15 00:00:00	NFC_OMAR_123	108.50	5faf4435-3c5d-44c2-8aa4-f54f13fc04c6	4be3f58e-10e3-46ff-a2be-b33566a34db4	2025-09-26 10:40:05.858	2025-09-26 10:40:20.686	\N	t
\.


--
-- Data for Name: StudentEnrollment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StudentEnrollment" (id, "studentId", "classId", "academicYearId") FROM stdin;
8354d493-619a-473e-a88a-8253aa07375f	c4502b23-1683-4780-abf7-2b1fe3173c0c	b0e270c2-752f-48ca-81bd-17dadfad95da	1a473ba9-3dcd-48de-b5af-358e14836ae7
\.


--
-- Data for Name: Subject; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Subject" (id, name, "schoolId") FROM stdin;
01ad957c-7198-4167-9e68-b8c673441b6f	Mathematics	5faf4435-3c5d-44c2-8aa4-f54f13fc04c6
\.


--
-- Data for Name: TeacherSubjectAssignment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TeacherSubjectAssignment" (id, "teacherId", "subjectId", "classId") FROM stdin;
929416f3-58cd-47a1-a519-f39ab17d5553	d582609c-6889-42a8-b7b8-a03907953b29	01ad957c-7198-4167-9e68-b8c673441b6f	b0e270c2-752f-48ca-81bd-17dadfad95da
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WalletTransaction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: AcademicYear AcademicYear_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AcademicYear"
    ADD CONSTRAINT "AcademicYear_pkey" PRIMARY KEY (id);


--
-- Name: Attendance Attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: BusTripEntry BusTripEntry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusTripEntry"
    ADD CONSTRAINT "BusTripEntry_pkey" PRIMARY KEY (id);


--
-- Name: BusTrip BusTrip_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusTrip"
    ADD CONSTRAINT "BusTrip_pkey" PRIMARY KEY (id);


--
-- Name: CanteenItem CanteenItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenItem"
    ADD CONSTRAINT "CanteenItem_pkey" PRIMARY KEY (id);


--
-- Name: Class Class_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Class"
    ADD CONSTRAINT "Class_pkey" PRIMARY KEY (id);


--
-- Name: DeviceToken DeviceToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeviceToken"
    ADD CONSTRAINT "DeviceToken_pkey" PRIMARY KEY (id);


--
-- Name: FeeItem FeeItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FeeItem"
    ADD CONSTRAINT "FeeItem_pkey" PRIMARY KEY (id);


--
-- Name: FeeStructure FeeStructure_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FeeStructure"
    ADD CONSTRAINT "FeeStructure_pkey" PRIMARY KEY (id);


--
-- Name: Grade Grade_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Grade"
    ADD CONSTRAINT "Grade_pkey" PRIMARY KEY (id);


--
-- Name: Homework Homework_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Homework"
    ADD CONSTRAINT "Homework_pkey" PRIMARY KEY (id);


--
-- Name: Invoice Invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_pkey" PRIMARY KEY (id);


--
-- Name: NotificationPreference NotificationPreference_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationPreference"
    ADD CONSTRAINT "NotificationPreference_pkey" PRIMARY KEY (id);


--
-- Name: POSOrderItem POSOrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."POSOrderItem"
    ADD CONSTRAINT "POSOrderItem_pkey" PRIMARY KEY (id);


--
-- Name: POSOrder POSOrder_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."POSOrder"
    ADD CONSTRAINT "POSOrder_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: School School_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."School"
    ADD CONSTRAINT "School_pkey" PRIMARY KEY (id);


--
-- Name: StudentEnrollment StudentEnrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentEnrollment"
    ADD CONSTRAINT "StudentEnrollment_pkey" PRIMARY KEY (id);


--
-- Name: Student Student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_pkey" PRIMARY KEY (id);


--
-- Name: Subject Subject_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subject"
    ADD CONSTRAINT "Subject_pkey" PRIMARY KEY (id);


--
-- Name: TeacherSubjectAssignment TeacherSubjectAssignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeacherSubjectAssignment"
    ADD CONSTRAINT "TeacherSubjectAssignment_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WalletTransaction WalletTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WalletTransaction"
    ADD CONSTRAINT "WalletTransaction_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AcademicYear_schoolId_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AcademicYear_schoolId_isActive_idx" ON public."AcademicYear" USING btree ("schoolId", "isActive");


--
-- Name: AcademicYear_schoolId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "AcademicYear_schoolId_name_key" ON public."AcademicYear" USING btree ("schoolId", name);


--
-- Name: Attendance_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Attendance_date_idx" ON public."Attendance" USING btree (date);


--
-- Name: Attendance_studentId_date_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Attendance_studentId_date_key" ON public."Attendance" USING btree ("studentId", date);


--
-- Name: AuditLog_schoolId_timestamp_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_schoolId_timestamp_idx" ON public."AuditLog" USING btree ("schoolId", "timestamp");


--
-- Name: AuditLog_userId_timestamp_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_userId_timestamp_idx" ON public."AuditLog" USING btree ("userId", "timestamp");


--
-- Name: BusTripEntry_busTripId_studentId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "BusTripEntry_busTripId_studentId_key" ON public."BusTripEntry" USING btree ("busTripId", "studentId");


--
-- Name: BusTripEntry_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "BusTripEntry_studentId_idx" ON public."BusTripEntry" USING btree ("studentId");


--
-- Name: BusTrip_schoolId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "BusTrip_schoolId_date_idx" ON public."BusTrip" USING btree ("schoolId", date);


--
-- Name: BusTrip_supervisorId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "BusTrip_supervisorId_idx" ON public."BusTrip" USING btree ("supervisorId");


--
-- Name: CanteenItem_schoolId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CanteenItem_schoolId_idx" ON public."CanteenItem" USING btree ("schoolId");


--
-- Name: CanteenItem_schoolId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CanteenItem_schoolId_name_key" ON public."CanteenItem" USING btree ("schoolId", name);


--
-- Name: Class_academicYearId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Class_academicYearId_idx" ON public."Class" USING btree ("academicYearId");


--
-- Name: Class_academicYearId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Class_academicYearId_name_key" ON public."Class" USING btree ("academicYearId", name);


--
-- Name: DeviceToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DeviceToken_token_key" ON public."DeviceToken" USING btree (token);


--
-- Name: DeviceToken_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeviceToken_userId_idx" ON public."DeviceToken" USING btree ("userId");


--
-- Name: FeeStructure_academicYearId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "FeeStructure_academicYearId_name_key" ON public."FeeStructure" USING btree ("academicYearId", name);


--
-- Name: Grade_homeworkId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Grade_homeworkId_idx" ON public."Grade" USING btree ("homeworkId");


--
-- Name: Grade_studentId_homeworkId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Grade_studentId_homeworkId_key" ON public."Grade" USING btree ("studentId", "homeworkId");


--
-- Name: Homework_classId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Homework_classId_idx" ON public."Homework" USING btree ("classId");


--
-- Name: Homework_subjectId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Homework_subjectId_idx" ON public."Homework" USING btree ("subjectId");


--
-- Name: Invoice_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_status_idx" ON public."Invoice" USING btree (status);


--
-- Name: Invoice_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_studentId_idx" ON public."Invoice" USING btree ("studentId");


--
-- Name: NotificationPreference_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "NotificationPreference_userId_key" ON public."NotificationPreference" USING btree ("userId");


--
-- Name: POSOrderItem_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "POSOrderItem_orderId_idx" ON public."POSOrderItem" USING btree ("orderId");


--
-- Name: POSOrder_schoolId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "POSOrder_schoolId_createdAt_idx" ON public."POSOrder" USING btree ("schoolId", "createdAt");


--
-- Name: POSOrder_studentId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "POSOrder_studentId_createdAt_idx" ON public."POSOrder" USING btree ("studentId", "createdAt");


--
-- Name: POSOrder_walletTxnId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "POSOrder_walletTxnId_key" ON public."POSOrder" USING btree ("walletTxnId");


--
-- Name: Payment_invoiceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_invoiceId_idx" ON public."Payment" USING btree ("invoiceId");


--
-- Name: Payment_paymentDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_paymentDate_idx" ON public."Payment" USING btree ("paymentDate");


--
-- Name: Payment_walletTxnId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Payment_walletTxnId_key" ON public."Payment" USING btree ("walletTxnId");


--
-- Name: School_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "School_name_key" ON public."School" USING btree (name);


--
-- Name: StudentEnrollment_classId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StudentEnrollment_classId_idx" ON public."StudentEnrollment" USING btree ("classId");


--
-- Name: StudentEnrollment_studentId_academicYearId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "StudentEnrollment_studentId_academicYearId_key" ON public."StudentEnrollment" USING btree ("studentId", "academicYearId");


--
-- Name: Student_nfc_card_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Student_nfc_card_id_key" ON public."Student" USING btree (nfc_card_id);


--
-- Name: Student_parentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Student_parentId_idx" ON public."Student" USING btree ("parentId");


--
-- Name: Student_schoolId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Student_schoolId_idx" ON public."Student" USING btree ("schoolId");


--
-- Name: Subject_schoolId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Subject_schoolId_idx" ON public."Subject" USING btree ("schoolId");


--
-- Name: Subject_schoolId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Subject_schoolId_name_key" ON public."Subject" USING btree ("schoolId", name);


--
-- Name: TeacherSubjectAssignment_classId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TeacherSubjectAssignment_classId_idx" ON public."TeacherSubjectAssignment" USING btree ("classId");


--
-- Name: TeacherSubjectAssignment_subjectId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TeacherSubjectAssignment_subjectId_idx" ON public."TeacherSubjectAssignment" USING btree ("subjectId");


--
-- Name: TeacherSubjectAssignment_teacherId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TeacherSubjectAssignment_teacherId_idx" ON public."TeacherSubjectAssignment" USING btree ("teacherId");


--
-- Name: TeacherSubjectAssignment_teacherId_subjectId_classId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TeacherSubjectAssignment_teacherId_subjectId_classId_key" ON public."TeacherSubjectAssignment" USING btree ("teacherId", "subjectId", "classId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_passwordResetToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_passwordResetToken_key" ON public."User" USING btree ("passwordResetToken");


--
-- Name: User_role_schoolId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_role_schoolId_idx" ON public."User" USING btree (role, "schoolId");


--
-- Name: WalletTransaction_paymentId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "WalletTransaction_paymentId_key" ON public."WalletTransaction" USING btree ("paymentId");


--
-- Name: WalletTransaction_schoolId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WalletTransaction_schoolId_createdAt_idx" ON public."WalletTransaction" USING btree ("schoolId", "createdAt");


--
-- Name: WalletTransaction_studentId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WalletTransaction_studentId_createdAt_idx" ON public."WalletTransaction" USING btree ("studentId", "createdAt");


--
-- Name: AcademicYear AcademicYear_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AcademicYear"
    ADD CONSTRAINT "AcademicYear_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Attendance Attendance_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AuditLog AuditLog_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: AuditLog AuditLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: BusTripEntry BusTripEntry_busTripId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusTripEntry"
    ADD CONSTRAINT "BusTripEntry_busTripId_fkey" FOREIGN KEY ("busTripId") REFERENCES public."BusTrip"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BusTripEntry BusTripEntry_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusTripEntry"
    ADD CONSTRAINT "BusTripEntry_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BusTrip BusTrip_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusTrip"
    ADD CONSTRAINT "BusTrip_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BusTrip BusTrip_supervisorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BusTrip"
    ADD CONSTRAINT "BusTrip_supervisorId_fkey" FOREIGN KEY ("supervisorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CanteenItem CanteenItem_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenItem"
    ADD CONSTRAINT "CanteenItem_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Class Class_academicYearId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Class"
    ADD CONSTRAINT "Class_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES public."AcademicYear"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DeviceToken DeviceToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeviceToken"
    ADD CONSTRAINT "DeviceToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FeeItem FeeItem_feeStructureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FeeItem"
    ADD CONSTRAINT "FeeItem_feeStructureId_fkey" FOREIGN KEY ("feeStructureId") REFERENCES public."FeeStructure"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FeeStructure FeeStructure_academicYearId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FeeStructure"
    ADD CONSTRAINT "FeeStructure_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES public."AcademicYear"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Grade Grade_homeworkId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Grade"
    ADD CONSTRAINT "Grade_homeworkId_fkey" FOREIGN KEY ("homeworkId") REFERENCES public."Homework"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Grade Grade_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Grade"
    ADD CONSTRAINT "Grade_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Homework Homework_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Homework"
    ADD CONSTRAINT "Homework_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Homework Homework_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Homework"
    ADD CONSTRAINT "Homework_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Invoice Invoice_feeStructureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_feeStructureId_fkey" FOREIGN KEY ("feeStructureId") REFERENCES public."FeeStructure"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Invoice Invoice_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NotificationPreference NotificationPreference_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationPreference"
    ADD CONSTRAINT "NotificationPreference_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: POSOrderItem POSOrderItem_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."POSOrderItem"
    ADD CONSTRAINT "POSOrderItem_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public."CanteenItem"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: POSOrderItem POSOrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."POSOrderItem"
    ADD CONSTRAINT "POSOrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."POSOrder"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: POSOrder POSOrder_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."POSOrder"
    ADD CONSTRAINT "POSOrder_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: POSOrder POSOrder_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."POSOrder"
    ADD CONSTRAINT "POSOrder_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: POSOrder POSOrder_walletTxnId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."POSOrder"
    ADD CONSTRAINT "POSOrder_walletTxnId_fkey" FOREIGN KEY ("walletTxnId") REFERENCES public."WalletTransaction"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payment Payment_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."Invoice"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StudentEnrollment StudentEnrollment_academicYearId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentEnrollment"
    ADD CONSTRAINT "StudentEnrollment_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES public."AcademicYear"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StudentEnrollment StudentEnrollment_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentEnrollment"
    ADD CONSTRAINT "StudentEnrollment_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StudentEnrollment StudentEnrollment_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentEnrollment"
    ADD CONSTRAINT "StudentEnrollment_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Student Student_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Student Student_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subject Subject_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subject"
    ADD CONSTRAINT "Subject_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TeacherSubjectAssignment TeacherSubjectAssignment_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeacherSubjectAssignment"
    ADD CONSTRAINT "TeacherSubjectAssignment_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TeacherSubjectAssignment TeacherSubjectAssignment_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeacherSubjectAssignment"
    ADD CONSTRAINT "TeacherSubjectAssignment_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TeacherSubjectAssignment TeacherSubjectAssignment_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeacherSubjectAssignment"
    ADD CONSTRAINT "TeacherSubjectAssignment_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: WalletTransaction WalletTransaction_paymentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WalletTransaction"
    ADD CONSTRAINT "WalletTransaction_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES public."Payment"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: WalletTransaction WalletTransaction_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WalletTransaction"
    ADD CONSTRAINT "WalletTransaction_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WalletTransaction WalletTransaction_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WalletTransaction"
    ADD CONSTRAINT "WalletTransaction_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict CLG25h52WhbU4zesWAd4ymckmXGJZFtU27gWd4vR9GICCLkMNDvBxM6sbe2e1j9

